.dataTable {
    caption-side: bottom;
    width: 700px;
}

div.cost {
    background-image: url(https://s3.amazonaws.com/backtesting-strategies-r/banknote.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: lightgreen;
    padding: 25px 25px 25px 65px;
    font-weight: bold;
    border: 1px solid black;
}

div.warning {
    background-image: url(https://s3.amazonaws.com/backtesting-strategies-r/fire.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: pink;
    padding: 25px 25px 25px 65px;
    font-weight: bold;
    border: 1px solid black;
}

div.info {
    background-image: url(https://s3.amazonaws.com/backtesting-strategies-r/bulb.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-color: lightgray;
    padding: 25px 25px 25px 65px;
    font-weight: bold;
    border: 1px solid black;
}
